*.log
/app/wp-config.php
/app/wp-content/advanced-cache.php
/app/wp-content/backup-db/
/app/wp-content/backups/
/app/wp-content/blogs.dir/
/app/wp-content/cache/
/app/wp-content/upgrade/
/app/wp-content/uploads/
/app/wp-content/mu-plugins/
/app/wp-content/wp-cache-config.php
/app/wp-content/plugins/hello.php
/app/sql/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

